<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head'); %>
  <title> <%= page.toUpperCase(); %> | <%= web_name %> </title>
</head>
<body>

    <%- include ('../partials/firebase'); %>
    
    <%- include ('../partials/navigation'); %>
    
    <div class="container">
        <div class="row"></div>
    </div>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/global'); %>
     
</body>