<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head'); %>
  <title> <%= page.toUpperCase(); %> | <%= web_name %> </title>
</head>
<body>

    <%- include ('../partials/firebase'); %>
    
    <%- include ('../partials/navigation'); %>
    
    <div class="row">
        <div class="col s12 m3 l2 offset-l1 hide-on-small-only">     
          <div class="card hoverable">
            <div class="card-content">         
              <span class="card-title">Kategori</span>            
              <div class="row" style="margin-bottom: 0px;">
                <div class="input-field col s12" style="padding-left: 0px;">
                  <div class="center" id="categoryLoad">
                    <div class="preloader-wrapper big active">
                      <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </div>                
                  <form id="webCategory" action="#" class="categoryDiv">
                                 
                  </form>
                </div>
              </div>
              
            </div>
          </div>      
        </div>
        <div class="col s12 m9">
          <h4 class="blue-text text-darken-3">Produk</h4>      
          <div class="divider"></div>
          <div class="progress" id="productLoad">
              <div class="indeterminate blue"></div>
          </div>      
            <p id="lastUpdateTxt" class="right-align"></p>    
          <div class="row" style="margin-top: 5px; margin-bottom: 0px;">
            <div class="input-field col s12 m4 l2" style="margin-bottom: 0px;">          
              <select id="itemPerPage">            
                <option value="20" selected> 20 item</option>
                <option value="40"> 40 item</option>
                <option value="60"> 60 item</option>            
              </select>
              <label class="right">Tampilan per halaman</label>
            </div>       
          </div>  
          <div class="row">
            <div id="productDiv"></div>
          </div>
          
            <div class="row">
              <div class="col s12">
                <ul class="center pagination pageNum">              
                </ul>        
              </div>
            </div>
          </div>
          
        </div>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/global'); %>

    <script src="js/pages/product.js"></script>
     
</body>