<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head'); %>
  <title> <%= page.toUpperCase(); %> | <%= web_name %> </title>
</head>
<body>

    <%- include ('../partials/firebase'); %>
    
    <%- include ('../partials/navigation'); %>
    
    <div class="container">        
        <div class="row">
            <div class="col s12">
                <div class="hide-on-small-only">
                    <h4 class="blue-text text-darken-3">Product</h4>      
                    <div class="divider"></div>
                </div>
                <table id="product_table" class="display" width="100%">
                        <thead>
                            <tr>
                                <th>Nama Produk</th>
                                <th>Kategori</th>
                                <th>Harga Modal</th>                                                                                                                     
                                <th>Harga Jual</th>
                                <th>Stok</th>
                                <th>Satuan</th>
                                <th>Code</th>
                                <th>Type</th>                                
                                <th>UXID</th>
                                <th>Action</th>
                            </tr>
                        </thead>                   
                </table>
            </div>
            
        </div>
    </div>

    <div id="modal1" class="modal">
        <form style="margin-top: 20px;" action="/edit_product" method="POST">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12 m6 l12">
                        <h4>Edit Deskripsi</h4>                                                         
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px;"> 
                    <input type="hidden" name="uxid" id="uxid_val">                   
                    <div class="input-field col s12">
                        <input type="text" name="nama" id="nama_text" disabled>
                        <label for="nama_text">Nama Produk</label>
                    </div>                                                              
                    <div class="input-field col s12">
                        <input type="text" name="picture" id="picture_text" required>
                        <label for="picture_text">URL Gambar</label>
                    </div>
                    <div class="input-field col s12">
                        <img src="" alt="" class="center-align my-responsive-img materialboxed" id="product_pic">
                    </div>
                    <div class="input-field col s12">
                        <input type="text" name="details" id="details_text" required>
                        <label for="details_text">Keterangan</label>
                    </div>
                    <div class="input-field col s12">
                        <button id="editDescBtn" class="btn blue right waves-effect waves-light">Simpan</button>
                        <button class="btn modal-close grey darken-1 right waves-effect waves-light" style="margin-right: 10px;">Batalkan</button>    
                    </div>
                    
                </div>                
            </div>
          
                
           
        </form>
    </div>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/init'); %>

    <script src="/static/js/pages/product.js"></script>
     
</body>