<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head'); %>
  <title> <%= page.toUpperCase(); %> | <%= web_name %> </title>
</head>
<body>

    <%- include ('../partials/firebase'); %>
    
    <%- include ('../partials/navigation'); %>
    
    <div class="row">
        <div class="col s12 m3 l2 offset-l1 hide-on-small-only">     
          <div class="card hoverable">
            <div class="card-content">         
              <span class="card-title">Kategori</span>            
              <div class="row" style="margin-bottom: 0px;">
                <div class="input-field col s12" style="padding-left: 0px;">
                  <div class="center" id="categoryLoad">
                    <div class="preloader-wrapper big active">
                      <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </div>                
                  <form id="webCategory" action="#" class="categoryDiv">
                                 
                  </form>
                </div>
              </div>
              
            </div>
          </div>      
        </div>
        <div class="col s12 m9">
          <div class="hide-on-small-only">
            <h4 class="blue-text text-darken-3">Store</h4>      
            <div class="divider"></div>
          </div>
          
          <div class="progress" id="productLoad">
              <div class="indeterminate blue"></div>
          </div>      
            <p id="lastUpdateTxt" class="right-align"></p>    
          <div class="row" style="margin-top: 5px; margin-bottom: 0px;">
            
           
            <div class="input-field col s12 m5 l4"><i class="tiny material-icons prefix">search</i>
              <input id="search" type="text" class="validate">
              <label for="search">Pencarian</label>
            </div>
            <div class="input-field col s12 m4 offset-m3 l2 offset-l6" style="margin-bottom: 0px;">          
                <select id="itemPerPage">            
                  <option value="20" selected> 20 item</option>
                  <option value="40"> 40 item</option>
                  <option value="60"> 60 item</option>            
                </select>
                <label class="right">Tampilan per halaman</label>
              </div>
              
          </div>  
          <div class="row">
            <div id="productDiv"></div>
          </div>
          
            <div class="row">
              <div class="col s12">
                <ul class="center pagination pageNum">              
                </ul>        
              </div>
            </div>
          </div>
          
        </div>

        <div class="fixed-action-btn hide-on-med-and-up" style="bottom: 24px; right: 24px;">
          <btn data-target="modal1" class="btn-floating btn-large green pulse waves-effect waves-light waves-circle btn modal-trigger">
            <i class="large material-icons">filter_list</i>
          </btn>
        </div>
      
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Kategori</h4>
            <form action="#" id="mobileCategory" class="categoryDiv">
                                   
            </form>      
          </div>
          <div class="modal-footer">
            <button id="mobileProductFilterBtn" class="modal-close waves-effect waves-green btn-flat">Terapkan Filter</button>
          </div>
        </div>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/init'); %>

    <script src="/static/js/pages/store.js"></script>
     
</body>